.elementor-480 .elementor-element.elementor-element-0f42ce4 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --border-radius: 20px 20px 0px 0px;
  --margin-top: -26px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 80px;
  --padding-bottom: 80px;
  --padding-left: 0px;
  --padding-right: 0px;
  --z-index: 99;
}
.elementor-480
  .elementor-element.elementor-element-0f42ce4:not(.elementor-motion-effects-element-type-background),
.elementor-480
  .elementor-element.elementor-element-0f42ce4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #020202f2;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-480 .elementor-element.elementor-element-cafdade {
  text-align: center;
}
.elementor-480
  .elementor-element.elementor-element-cafdade
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-480 .elementor-element.elementor-element-7138ff6 {
  text-align: center;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  word-spacing: 2px;
  color: #ffffff;
  width: 100%;
  max-width: 100%;
}
.elementor-480
  .elementor-element.elementor-element-7138ff6
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-480 .elementor-element.elementor-element-90afba5 {
  text-align: center;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  word-spacing: 2px;
  color: #ffffff;
  width: 100%;
  max-width: 100%;
}
.elementor-480
  .elementor-element.elementor-element-90afba5
  > .elementor-widget-container {
  margin: -30px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-480 .elementor-element.elementor-element-2109bd8 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-480 .elementor-element.elementor-element-c10196e {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --border-radius: 8px 8px 8px 8px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-480
  .elementor-element.elementor-element-c10196e:not(.elementor-motion-effects-element-type-background),
.elementor-480
  .elementor-element.elementor-element-c10196e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-480 .elementor-element.elementor-element-79b4fd3 {
  text-align: left;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  word-spacing: 2px;
  color: #ffffff;
  width: var(--container-widget-width, 28%);
  max-width: 28%;
  --container-widget-width: 28%;
  --container-widget-flex-grow: 0;
}
.elementor-480
  .elementor-element.elementor-element-79b4fd3
  > .elementor-widget-container {
  margin: 0px 0px -24px 0px;
  padding: 0px 0px -6px 0px;
}
.elementor-480 .elementor-element.elementor-element-79b4fd3.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-widget-button .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
  background-color: var(--e-global-color-accent);
}
.elementor-480
  .elementor-element.elementor-element-bdb1e20
  .elementor-button-content-wrapper {
  flex-direction: row;
}
.elementor-480
  .elementor-element.elementor-element-bdb1e20
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 9px;
}
.elementor-480 .elementor-element.elementor-element-bdb1e20 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #d2a42b;
  border-radius: 50px 50px 50px 50px;
  padding: 10px 30px 10px 30px;
}
.elementor-480 .elementor-element.elementor-element-bdb1e20 {
  width: var(--container-widget-width, 29.019%);
  max-width: 29.019%;
  --container-widget-width: 29.019%;
  --container-widget-flex-grow: 0;
}
.elementor-480 .elementor-element.elementor-element-bdb1e20.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-480
  .elementor-element.elementor-element-0761b78
  .elementor-button-content-wrapper {
  flex-direction: row;
}
.elementor-480
  .elementor-element.elementor-element-0761b78
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 9px;
}
.elementor-480 .elementor-element.elementor-element-0761b78 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #d2a42b;
  border-radius: 50px 50px 50px 50px;
  padding: 8px 30px 8px 30px;
}
.elementor-480 .elementor-element.elementor-element-94e7985 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-480 .elementor-element.elementor-element-8813403 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --border-radius: 8px 8px 8px 8px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-480 .elementor-element.elementor-element-8813403.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-480 .elementor-element.elementor-element-3a3d044 {
  text-align: left;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  word-spacing: 2px;
  color: #ffffff;
  width: var(--container-widget-width, 72%);
  max-width: 72%;
  --container-widget-width: 72%;
  --container-widget-flex-grow: 0;
}
.elementor-480
  .elementor-element.elementor-element-3a3d044
  > .elementor-widget-container {
  margin: 0px 0px -24px 0px;
  padding: 0px 0px -6px 0px;
}
.elementor-480 .elementor-element.elementor-element-3a3d044.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-480 .elementor-element.elementor-element-1af7915 {
  text-align: left;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  word-spacing: 2px;
  color: #888484;
  width: var(--container-widget-width, 72%);
  max-width: 72%;
  --container-widget-width: 72%;
  --container-widget-flex-grow: 0;
}
.elementor-480
  .elementor-element.elementor-element-1af7915
  > .elementor-widget-container {
  margin: 0px 0px -44px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-480 .elementor-element.elementor-element-1af7915.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-480 .elementor-element.elementor-element-57dbb6e {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-start;
  --align-items: center;
  --border-radius: 8px 8px 8px 8px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-480 .elementor-element.elementor-element-e0a7475 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #d2a42b;
  border-radius: 50px 50px 50px 50px;
  padding: 10px 30px 10px 30px;
}
.elementor-480 .elementor-element.elementor-element-e0a7475 {
  width: var(--container-widget-width, 89.739%);
  max-width: 89.739%;
  --container-widget-width: 89.739%;
  --container-widget-flex-grow: 0;
}
.elementor-480 .elementor-element.elementor-element-e0a7475.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-480 .elementor-element.elementor-element-492bbbf {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-navigation-menu a.hfe-menu-item,
.elementor-widget-navigation-menu a.hfe-sub-menu-item {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item {
  color: var(--e-global-color-text);
}
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:hover,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item:hover,
.elementor-widget-navigation-menu .menu-item.current-menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.highlighted,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:focus {
  color: var(--e-global-color-accent);
}
.elementor-widget-navigation-menu
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  a.hfe-menu-item:before,
.elementor-widget-navigation-menu
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  a.hfe-menu-item:after {
  background-color: var(--e-global-color-accent);
}
.elementor-widget-navigation-menu
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  .sub-menu
  .hfe-has-submenu-container
  a:after {
  background-color: var(--e-global-color-accent);
}
.elementor-widget-navigation-menu
  .hfe-pointer__framed
  .menu-item.parent
  a.hfe-menu-item:before,
.elementor-widget-navigation-menu
  .hfe-pointer__framed
  .menu-item.parent
  a.hfe-menu-item:after {
  border-color: var(--e-global-color-accent);
}
.elementor-widget-navigation-menu .sub-menu li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-menu-item,
.elementor-widget-navigation-menu
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-widget-navigation-menu
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
  background-color: var(--e-global-color-accent);
}
.elementor-widget-navigation-menu
  .menu-item
  a.hfe-menu-item.elementor-button:hover {
  background-color: var(--e-global-color-accent);
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .menu-item
  a.hfe-menu-item {
  padding-left: 38px;
  padding-right: 38px;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(38px + 20px);
  padding-right: 38px;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(38px + 40px);
  padding-right: 38px;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(38px + 60px);
  padding-right: 38px;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(38px + 80px);
  padding-right: 38px;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .menu-item
  a.hfe-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .menu-item
  a.hfe-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .sub-menu
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .menu-item
  a.hfe-menu-item:hover,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .menu-item
  a.hfe-menu-item:focus {
  color: #d2a42b;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .elementor-menu-toggle,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-480 .elementor-element.elementor-element-4c76dfd .sub-menu,
.elementor-480 .elementor-element.elementor-element-4c76dfd nav.hfe-dropdown,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown-expandible,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #000000;
}
.elementor-480 .elementor-element.elementor-element-4c76dfd ul.sub-menu {
  width: 220px;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  div.hfe-nav-menu-icon {
  color: #ffffff;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  div.hfe-nav-menu-icon
  svg {
  fill: #ffffff;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  div.hfe-nav-menu-icon:hover {
  color: #ffffff;
}
.elementor-480
  .elementor-element.elementor-element-4c76dfd
  div.hfe-nav-menu-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-480 .elementor-element.elementor-element-4c76dfd {
  width: var(--container-widget-width, 83.583%);
  max-width: 83.583%;
  --container-widget-width: 83.583%;
  --container-widget-flex-grow: 0;
}
.elementor-480 .elementor-element.elementor-element-4c76dfd.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-480 .elementor-element.elementor-element-d320f02 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-480 .elementor-element.elementor-element-5a8f860 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --border-radius: 8px 8px 8px 8px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-480
  .elementor-element.elementor-element-25a1cb5
  .elementor-repeater-item-a6c1ee5.elementor-social-icon {
  background-color: #000000;
}
.elementor-480
  .elementor-element.elementor-element-25a1cb5
  .elementor-repeater-item-8ebdc27.elementor-social-icon {
  background-color: #000000;
}
.elementor-480
  .elementor-element.elementor-element-25a1cb5
  .elementor-repeater-item-0c5c996.elementor-social-icon {
  background-color: #000000;
}
.elementor-480 .elementor-element.elementor-element-25a1cb5 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 40px;
  --grid-column-gap: 25px;
  --grid-row-gap: 0px;
}
.elementor-480
  .elementor-element.elementor-element-25a1cb5
  .elementor-widget-container {
  text-align: center;
}
.elementor-480
  .elementor-element.elementor-element-25a1cb5
  .elementor-social-icon {
  --icon-padding: 0em;
  border-style: none;
}
@media (min-width: 768px) {
  .elementor-480 .elementor-element.elementor-element-2109bd8 {
    --width: 100%;
  }
  .elementor-480 .elementor-element.elementor-element-c10196e {
    --width: 75%;
  }
  .elementor-480 .elementor-element.elementor-element-94e7985 {
    --width: 100%;
  }
  .elementor-480 .elementor-element.elementor-element-8813403 {
    --width: 45%;
  }
  .elementor-480 .elementor-element.elementor-element-57dbb6e {
    --width: 23%;
  }
  .elementor-480 .elementor-element.elementor-element-492bbbf {
    --width: 100%;
  }
  .elementor-480 .elementor-element.elementor-element-d320f02 {
    --width: 100%;
  }
  .elementor-480 .elementor-element.elementor-element-5a8f860 {
    --width: 75%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-480 .elementor-element.elementor-element-c10196e {
    --width: 90%;
  }
  .elementor-480 .elementor-element.elementor-element-8813403 {
    --width: 43%;
  }
  .elementor-480 .elementor-element.elementor-element-57dbb6e {
    --width: 36%;
  }
}
@media (max-width: 1024px) {
  .elementor-480 .elementor-element.elementor-element-0f42ce4 {
    --padding-top: 50px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-480 .elementor-element.elementor-element-2109bd8 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-480 .elementor-element.elementor-element-c10196e {
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
  }
  .elementor-480 .elementor-element.elementor-element-79b4fd3 {
    --container-widget-width: 35%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 35%);
    max-width: 35%;
  }
  .elementor-480 .elementor-element.elementor-element-bdb1e20 {
    --container-widget-width: 34%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 34%);
    max-width: 34%;
  }
  .elementor-480 .elementor-element.elementor-element-8813403 {
    --justify-content: flex-end;
    --align-items: flex-end;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-480
    .elementor-element.elementor-element-3a3d044
    > .elementor-widget-container {
    margin: 0px 0px -22px 0px;
  }
  .elementor-480 .elementor-element.elementor-element-3a3d044 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-480
    .elementor-element.elementor-element-1af7915
    > .elementor-widget-container {
    margin: -11px 0px -41px 0px;
  }
  .elementor-480 .elementor-element.elementor-element-1af7915 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-480 .elementor-element.elementor-element-57dbb6e {
    --align-items: flex-start;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-480 .elementor-element.elementor-element-492bbbf {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .menu-item
    a.hfe-menu-item {
    padding-left: 31px;
    padding-right: 31px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .menu-item
    a.hfe-sub-menu-item {
    padding-left: calc(31px + 20px);
    padding-right: 31px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-nav-menu__layout-vertical
    .menu-item
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(31px + 40px);
    padding-right: 31px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-nav-menu__layout-vertical
    .menu-item
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(31px + 60px);
    padding-right: 31px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-nav-menu__layout-vertical
    .menu-item
    ul
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(31px + 80px);
    padding-right: 31px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .menu-item
    a.hfe-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .menu-item
    a.hfe-sub-menu-item {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  body:not(.rtl)
    .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-right: 0px;
  }
  body.rtl
    .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-left: 0px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav:not(.hfe-nav-menu__layout-horizontal)
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
  body:not(.rtl)
    .elementor-480
    .elementor-element.elementor-element-4c76dfd.hfe-nav-menu__breakpoint-tablet
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-right: 0px;
  }
  body
    .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav.hfe-nav-menu__layout-vertical
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
  body:not(.rtl)
    .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item {
    margin-bottom: 0px;
  }
  .elementor-480 .elementor-element.elementor-element-4c76dfd ul.sub-menu {
    width: 0px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .sub-menu
    li
    a.hfe-sub-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav.hfe-dropdown
    li
    a.hfe-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav.hfe-dropdown-expandible
    li
    a.hfe-menu-item {
    padding-left: 35px;
    padding-right: 35px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav.hfe-dropdown-expandible
    a.hfe-sub-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav.hfe-dropdown
    li
    a.hfe-sub-menu-item {
    padding-left: calc(35px + 20px);
    padding-right: 35px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-dropdown
    .menu-item
    ul
    ul
    a.hfe-sub-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-dropdown-expandible
    .menu-item
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(35px + 40px);
    padding-right: 35px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-dropdown
    .menu-item
    ul
    ul
    ul
    a.hfe-sub-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-dropdown-expandible
    .menu-item
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(35px + 60px);
    padding-right: 35px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-dropdown
    .menu-item
    ul
    ul
    ul
    ul
    a.hfe-sub-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-dropdown-expandible
    .menu-item
    ul
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(35px + 80px);
    padding-right: 35px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .sub-menu
    a.hfe-sub-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav.hfe-dropdown
    li
    a.hfe-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav.hfe-dropdown
    li
    a.hfe-sub-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav.hfe-dropdown-expandible
    li
    a.hfe-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav.hfe-dropdown-expandible
    li
    a.hfe-sub-menu-item {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-480 .elementor-element.elementor-element-2109bd8 {
    --gap: 30px 0px;
    --row-gap: 30px;
    --column-gap: 0px;
    --flex-wrap: wrap;
  }
  .elementor-480 .elementor-element.elementor-element-c10196e {
    --gap: 30px 0px;
    --row-gap: 30px;
    --column-gap: 0px;
  }
  .elementor-480 .elementor-element.elementor-element-79b4fd3 {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-480
    .elementor-element.elementor-element-bdb1e20
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-480 .elementor-element.elementor-element-bdb1e20 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-480 .elementor-element.elementor-element-8813403 {
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --gap: 20px 0px;
    --row-gap: 20px;
    --column-gap: 0px;
  }
  .elementor-480 .elementor-element.elementor-element-3a3d044 {
    width: initial;
    max-width: initial;
  }
  .elementor-480 .elementor-element.elementor-element-1af7915 {
    width: initial;
    max-width: initial;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .menu-item
    a.hfe-menu-item {
    padding-left: 24px;
    padding-right: 24px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .menu-item
    a.hfe-sub-menu-item {
    padding-left: calc(24px + 20px);
    padding-right: 24px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-nav-menu__layout-vertical
    .menu-item
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(24px + 40px);
    padding-right: 24px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-nav-menu__layout-vertical
    .menu-item
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(24px + 60px);
    padding-right: 24px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .hfe-nav-menu__layout-vertical
    .menu-item
    ul
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(24px + 80px);
    padding-right: 24px;
  }
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .menu-item
    a.hfe-menu-item,
  .elementor-480
    .elementor-element.elementor-element-4c76dfd
    .menu-item
    a.hfe-sub-menu-item {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  body:not(.rtl)
    .elementor-480
    .elementor-element.elementor-element-4c76dfd.hfe-nav-menu__breakpoint-mobile
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-right: 0px;
  }
  body
    .elementor-480
    .elementor-element.elementor-element-4c76dfd
    nav.hfe-nav-menu__layout-vertical
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
